
<div class="histories-index">
  <div class="data">
      <h5>Data Report</h5>
  </div>
    
  <div class="graf">
    <%= column_chart @chart1 %>
    Week
  </div>
  <div class="graf">
    <%= column_chart @chart2 %>
    Month
  </div>
  
  
</div>

	
