<div class="histories-index">
  <div class="data">
    <h5>Data Report</h5>
    <div class = "graf">
      <div class="graf1">
        <%= column_chart @chart1 %>
        week
      </div>
      <div class="graf2">
        <%= column_chart @chart2 %>
        Month
      </div>
    </div>
  </div>
</div>
