
<div class = "tabaco_wrapper">
  <div class="tabaco_container">
    <p id="notice"><%= notice %></p>
    <div class="tabaco_name">
      <p>銘柄
        <%= @event.title %>
      </p>
    </div>
    <div class="edit_btn">
      <p><%= link_to "削除" ,event_path(@event), method: :delete  %></p>
      <p><%= link_to 'Back', events_path %></p>
    </div>
  </div>
</div>
